body{
    background-color: black;
}
main{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
aside{
    width: 200px;
    height: 200px;
    background-color: blue;
}
div{
    width: 200px;
    height: 200px;
    background-color: orange;
}